/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* Body */
body {
	
    background-attachment: fixed;
    font-family: 'Roboto';
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
}

.button1 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


nav {
    display: flex;
    justify-content: space-between; /* Distribute items evenly */
    align-items: center;
    width: 100%;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    flex-grow: 1;  /* Allow the nav items to grow and fill the available space */
}

nav ul li {
    margin-left: 20px;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: normal;
}

/* Sign In Button Styles */



.sign-in-btn:hover {
    background-color: #333;
    color: #fff;
}

.sign-in-btn:hover img {
    filter: invert(0); /* makes icon white */
}

.sign-in-icon {
    margin-right: 8px; /* Space between the icon and text */
    font-size: 20px; /* Size of the arrow icon */
}

.hero {
    margin-top: 40px;
    margin-bottom: 100px;
    padding: 10px;
    text-align: center;
}

.hero-content {
    color: #333;
    z-index: 2;
    opacity: 0;
    transform: translateY(50px);
    animation: fadeInUp 2s forwards; /* Animation to fade and slide up */
}

.hero-content .logo {
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInUp 1.5s forwards 0.5s; /* Delay logo appearance */
}

.hero h1 {
        color: #222222;
    margin-top: 10px;
    font-weight: bold;
    font-family: roboto;
    font-size: 32px;
    margin-bottom: 20px;
    animation: fadeInUp 1.5s forwards 1s;
}

li {
    color: #222222;
}

p{

    color: white;

}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

.cta-buttons {
    gap: 10px;
    display: flex;
    animation: fadeInUp 1.5s forwards 1.5s;
    justify-content: center;
    align-items: center;
}

.learn-more, .subscribe {
    display: inline-block;
    padding: 5px 24px;
    font-size: 16px;
    font-weight: normal;
    text-decoration: none;
    border-radius: 30px;
    transition: background-color 0.3s 
ease;
}

.learn-more {
    background-color: #8d8cb1;
    color: #fff;
    border: 2px solid #8d8cb1;
}

.learn-more:hover {
    background-color: #5c5c72;
    border: 2px solid #5c5c72;
}

.subscribe {
    color: #8d8cb1;
    border: 2px solid #8d8cb1;
}

.subscribe:hover {
    background-color: #5c5c72;
    color: #fff;
    border: 2px solid #5c5c72;
}

.logo img {
    width: 45%;
    max-width: 250px;
    object-fit: contain;
    z-index: 2;
}

.hero-image img {
    margin-top: 30px;
    width: 100%;
    max-width: 750px;
    object-fit: contain;
    z-index: 1;
    animation: fadeInScale 2s forwards;
}

/* General Box Styling */
.box {
    height: 400px;
    width: 100%;
    color: white;
    margin-bottom: 100px;
    display: flex
;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
}

/* The text container inside the box */
.text-container {
	padding: 50px;
    width: 50%; /* Make the text container cover 50% of the box */
    text-align: left; /* Default text alignment */
}

/* The image container inside the box */
.image-container {
    display: flex;
    justify-content: center;
}

/* Image Styling */
.image-container img {
    width: 100%; /* Make the image fit the container */
    max-width: 300px; /* Set a max-width for the images */
    object-fit: contain; /* Ensure the aspect ratio is maintained */
}
/* General Box Styling */
.info-box {
    display: flex;
	justify-content: space-around;

    backdrop-filter: blur(10px);
    padding: 50px;
    margin-bottom: 2px;
}

/* Left Side of the Box */
.info-box-left {
    width: 40%;
    color: #333;
}

.info-box-left h3 {
	color:#616a6b;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
}

.info-box-left h4 {
    font-size: 18px;
    color:#616a6b;
}

.info-box-left p {
	color:#616a6b;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

/* Link Styling */
/* Link Styling */
.read-report {
    font-size: 16px;
    color: #616a6b;
    text-decoration: none; /* Remove default underline */
    margin-bottom: 20px;
    position: relative; /* Required for absolute positioning of the underline */
}

/* Always visible underline */
.read-report::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 3px;
    background-color: #616a6b;
}

/* Animation on hover (underline disappearance) */
.read-report:hover::after {
    transform: scaleX(0); /* Collapse the underline */
    transition: transform 0.3s ease-out; /* Smooth transition */
}

/* Animation effect when the underline disappears (new effect) */
.read-report:hover {
    color: #616a6b; /* Change text color when hovered */
}

.read-report:hover::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 3px;
    background-color: #007BFF; /* Color for the animation */
    animation: scaleEffect 0.3s forwards;
}

/* Keyframes for animation effect */
@keyframes scaleEffect {
    0% {
        width: 0;
        left: 50%;
    }
    100% {
        width: 100%;
        left: 0;
    }
}

/* Right Side of the Box with Bullet Points */
.info-box-right {
    width: 35%;
}

.info-box-right ul {
    list-style: none;
    padding-left: 0;
}

.info-box-right li {
    font-size: 18px;
    margin-bottom: 10px;
}

.checkmark {
    color: #4CAF50;
    margin-right: 10px;
}

/* Checkmark and title inline */
.checkmark-title {
    display: flex;
    align-items: center; /* Align the checkmark and title horizontally */
    margin-bottom: 10px; /* Space between the title and the description */
}

.checkmark-img {
    width: 24px; /* Adjust size of the checkmark image */
    height: 24px; /* Maintain aspect ratio */
    margin-right: 10px; /* Space between checkmark and title */
}

/* Right Side with Image (for Box 2) */
.info-box-right img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

/* Bullet Points Styling */
.bullet-point {
    margin-bottom: 20px; /* Space between each bullet point */
}

.bullet-point h4 {
    font-size: 22px;
    font-weight: 600;
    color: #616a6b;
}

.bullet-point p {
	color: #616a6b;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
}

/* Bullet Points Styling */
.bullet-point {
    margin-bottom: 20px; /* Space between each bullet point */
}

.bullet-point h4 {
    font-size: 22px;
    font-weight: 600;
    color: #616a6b;
}

.bullet-point p {
	color: #616a6b;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
}

/* Info Box for Stats (Box 2) */
.info-box2 {
    border-top: 2px solid #f5f5f5;
    display: flex
;
    justify-content: space-evenly;
    backdrop-filter: blur(10px);
    padding: 70px 50px;

}


/* Styling for Each Statistic */
.stat {
    text-align: center;
    width: 20%; /
}

.stat-number {
    font-weight: bold;
    font-size: 75px;
    color: #616a6b;
    display: block;
}
.stat p {
    margin-top: 10px; /* Space below the stat number */
    font-size: 14px;
    color: #616a6b;
    font-weight: 400;
}

.stat h4 {
    color: #616a6b;
}

.cta-text {
    margin-left: 150px;
    text-align: left;
}
/* Box 1 (Static) - Text aligned to the right */
.box-1 {
    padding: 10px 20px;
    height: auto;

    backdrop-filter: blur(10px);
    text-align: right;
}
.box-1 .text-container {
    text-align: left; /* Align text inside container to the right */
}

.box-1 h3 {
    color: #616a6b;
    font-size: 30px;
    margin-bottom: 10px;
}

.box-1 p {
	color: #616a6b;
    font-size: 18px;
    line-height: 1.5;
}

/* Box 2 (Animated) - Text aligned to the left */
.box-2 {
    background-color: #000; /* Dark background for the animated box */
    text-align: left; /* Align text to the left */
}

.box-2 .text-container {
    text-align: left; /* Align text inside container to the left */
}

.box-2 h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.box-2 p {
	width: 50%;
    font-size: 18px;
    line-height: 1.5;
}

/* Box 3 (Static) - Text aligned to the right */
.box-3 {
    margin-top: 40px;
    height: 400px;
    width: 100%;
    background: round;
    background-image: url(boxbg.jpg);
    backdrop-filter: blur(10px);
    text-align: right;
}

.box-3 .text-container {
    text-align: center; /* Align text inside container to the right */
}

.box-3 h3 {
    color: #484848;
    font-size: 40px;
}

.box-3 p {
	margin-bottom: 20px;
	color: #484848;
    font-size: 26px;
    line-height: 1.5;
}

.image-container2 {
    width: 45%;
    display: flex
;
}

.box-4 {

    backdrop-filter: blur(10px);
    text-align: right;
}

.box-4 .text-container {
    text-align: right; /* Align text inside container to the right */
}

.box-4 h3 {
    color: #616a6b;
    font-size: 30px;
    margin-bottom: 10px;
}

.box-4 p {
	    color: #616a6b;
    font-size: 18px;
    line-height: 1.5;
}



/* Scaling Lottie Animation */
.cta-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#cta-animation {
    width: 51%;
    max-width: 1000px;
    height: auto;
    transform-origin: center;
    transition: transform 0.3s ease-in-out;
    position: absolute;
    top: 0%;
    right: -5%;
    z-index: 1;
}

/* Adjust the scale of the animation */
#cta-animation.scaled {
    transform: scale(1.5); /* Adjust the scale as needed */
}




/* CTA Button */
.cta-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 3;
}

.cta-button img {
    width: 60px;
    height: 60px;
    object-fit: contain;
}

/* Keyframe animations */
@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInScale {
    to {
        opacity: 1;
        transform: scale(1);
    }
}


header {
    padding: 0px 20px;
    position: sticky;
    top: 0;
    z-index: 20;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(8px);
    border-bottom: 1px solid #eee;
}



.nav-bar {
    display: flex;
    align-items: center;
    padding: 15px 0;
    justify-content: center;
}

/* Brand */
.brand {
    display: inline-flex
;
    align-items: center;
}
.brand img {
  width: 36px;
  height: 36px;
  object-fit: contain;
}

/* Menu */
.menu {
    display: flex;
    align-items: center;
    gap: 25px;
    list-style: none;
}
.menu a {
    text-decoration: none;
    color: inherit;
    font-weight: 400;
    transition: color 0.2s 
ease;
}
.menu a:hover {
  color: #2563EB;
}

/* Auth buttons */
.auth {
    right: 20px;
    position: fixed;
    align-items: center;
}

.auth1 {
    color: white;
    right: 115px;
    position: fixed;
    align-items: center;
}
.sign-in-btn1 {
    background: #2563EB;
    display: inline-flex;
    align-items: center;
    border: 1.5px solid #2563EB;
    gap: 8px;
    padding: 5px 7px;
    font-size: 15px;
    border-radius: 15px;
    margin-left: 5px;
}
.sign-in-btn1:hover {
  background: var(--ink);
  
  color: #2563EB;
}
.sign-in-btn1 img {
    width: 18px;
    filter: hue-rotate(111deg) grayscale(1) brightness(0) invert(1);
    height: 18px;
} 

.sign-in-btn1:hover img {

   filter: invert(0);
}

p:hover {
    color: black;
}

.sign-in-btn {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    border: 1.5px solid #222222;
    padding: 5px 7px;
    font-size: 15px;
    border-radius: 15px;
    margin-left: 5px;
}
.sign-in-btn:hover {
  background: #fff;
  color: #fff;
  border: 1.5px solid #2563EB;
}
.sign-in-btn img {
    filter: grayscale(1) brightness(0);
    width: 18px;
    height: 18px;
}


/* Burger Menu (mobile) */
.nav-toggle {
  display: none;
}
.burger {
    display: none;
    width: 40px;
    height: 40px;
    place-items: center;
    border: 1px solid #dddddd00;
    border-radius: 10px;
    background: #ffffff00;
    cursor: pointer;
}
.burger span {
  width: 20px;
  height: 2px;
  background: #222222;
  position: relative;
  display: block;
}
.burger span::before, .burger span::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    background: #222222;
    height: 2px;
}
.burger span::before {
  top: -6px;
}
.burger span::after {
  top: 6px;
}

/* Responsive */
@media (max-width: 920px) {
  .burger {
    display: grid;
  }

  .menu {
    display: none;
  }

.nav-toggle:checked ~ .menu, .auth {
        display: flex
;
        align-items: flex-end;
    }

    .menu {
        flex-direction: column;
        align-items: flex-start;
        background: #f5f5f5;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        padding: 10px 20px;
        border-top: 1px solid #ddd;
        gap: 20px;
    }


  
  
  .hero h1 {
    font-size: 28px;
}

    .auth {
        display: flex;
        position: static;
        flex-direction: column;
    }
	    .auth1 {
        display: flex;
        position: static;
        flex-direction: column;
    }
	
	
    .nav-bar {
        display: flex
;
        align-items: center;
        padding: 15px 0;
        justify-content: space-between;
    }
}

.brand2 {
    display: none;
}

.text-container1{
    display: flex;
	margin-left: 30px;
    flex-direction: column;
    align-items: center;
}

.text-container1 img {
    width: 300px;
}

.text-container2 img {
    width: 200px;
}

@media (max-width: 768px) {
	
	.text-container2 img {
    width: 120px;
}
.text-container1 img {
    width: 180px;
}

.text-container1 {
    margin-left: 15px;
}
	
	#cta-animation {
    width: 115%;
    max-width: 1000px;
    height: auto;
    transform-origin: center;
    transition: transform 0.3s 
ease-in-out;
    position: absolute;
    top: 30%;
    right: -64%;
    z-index: 1;
}
	
    .brand2 {
        display: flex
;
    }
	
    .sign-in-btn {
        display: flex
;
        margin-bottom: 20px;
        align-items: center;
        gap: 0px;
        border: none;
        padding: 0px 0px;
        font-size: 14px;
        text-decoration: none;
        border-radius: 0px;
        transition: background-color 0.2s, color 0.2s;
        margin-left: 5px;
    }
	
	    .sign-in-btn1 {
        display: flex;
		background: #2563eb00;
        margin-bottom: 0px;
        align-items: center;
        gap: 0px;
        border: none;
        padding: 0px 0px;
        font-size: 14px;
        text-decoration: none;
        border-radius: 0px;
        transition: background-color 0.2s, color 0.2s;
        margin-left: 5px;
    }
	
	.menu a {
		font-size: 15px;
    color: #222222;
}
		.sign-in-btn1 img {
display:none;
}

	.sign-in-btn img {
display:none;
}

.box-1 {
    padding: 25px 25px;
    height: auto;

    backdrop-filter: blur(10px);
    text-align: right;
	        margin-bottom: 75px;
}

.box-2 {
    margin-bottom: 75px;
}

    .text-container {
        padding: 15px;
        width: 115%;
        text-align: left;
    }


.box-1 h3 {

    font-size: 16px;

}
.box-1 p {

    font-size: 12px;

}

    .box-2 h2 {
        width: 60%;
        font-size: 16px;
    }

.box-2 p {

    font-size: 12px;

}

    .cta-text {
        margin: 0px;
        padding: 25px 25px;
        text-align: left;
    }
.info-box-left h4 {
    font-size: 14px;

}

.info-box-left h3 {
	margin-bottom: 10px;
    font-size: 24px;

}
.info-box-left p {

    font-size: 12px;
	    margin-bottom: 10px;

}
.info-box {
	gap: 30px;
        display: flex;

        backdrop-filter: blur(10px);
        padding: 25px 25px;
        margin-bottom: 2px;
        justify-content: space-between;
        flex-direction: column;
    }

.info-box-right img {
    max-width: 16%;

}

.bullet-point h4 {
    font-size: 16px;
}

.bullet-point p {
        margin-left: 35px;
        font-size: 12px;
    }


.info-box-left {
    width: 90%;

}
.info-box-right {
    width: 90%;

}

.read-report {
    font-size: 10px;
}

    .info-box2 {
        display: flex
;

        backdrop-filter: blur(10px);
        padding: 35px 25px;

        justify-content: space-between;
    }

.stat-number {
    font-size: 36px;
}
.stat {
    text-align: center;
    width: 30%;
}

.stat h4 {
    font-size:12px;
}

.stat p {

    font-size: 8px;
 
}

    .box-3 p {
        margin-bottom: 10px;
        font-size: 14px;
    }

    .box-3 {
        height: 250px;
        margin-bottom: 75px;
    }
	
	.box-3 h3 {
    font-size: 30px;
}
.box-4 {
padding: 25px 25px;
        margin-bottom: 75px;
}

.box-4 h3 {

    font-size: 16px;

}

.box-4 p {
    font-size: 12px;

}

.brand img {
display:none;
}

}