* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif; /* Use Poppins font */
    background-image: url('Zerocium Background.jpg'); /* Path to your uploaded background */
    background-size: cover;  /* Make the background image stretch to cover the page */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Ensure the background image does not repeat */
    color: #333;
    display: flex;
    flex-direction: column;
    height: 100vh; /* Ensure the body takes up full height */
}

header {
    padding: 20px;
    position: relative;
    width: 100%;
    z-index: 2;  /* Keep header above the hero content */
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}

nav ul li {
    margin-left: 20px;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: normal;
}

footer {
    text-align: center;
    padding: 20px;
    position: relative;
    width: 100%;
    margin-top: auto; /* Ensures footer is pushed to the bottom of the page */
}

.social-links a {
    margin-right: 15px;
    text-decoration: none;
    color: #6c63ff;
    font-weight: 500;
}

p {
   margin-top:10px;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%; /* Full width */
    min-height: 70vh; /* Take at least 70% of the viewport height */
    position: relative;
    padding: 10px; /* Optional: Adjust padding to give some space around content */
    text-align: center;
    flex-grow: 1; /* Allow hero section to take remaining space */
}

.hero-content {
    color: #333;
    z-index: 2;  /* Ensure the text stays above the image */
}

.logo img {
    width: 45%; /* Adjust logo size */
    max-width: 250px;
    object-fit: contain;
    z-index: 2;  /* Ensure the image is above the text */
}

.hero h1 {
    font-size: 36px;
    font-weight: normal;
    margin-bottom: 20px;
}

.cta-buttons a {
    display: inline-block;
    padding: 5px 24px;
    margin-right: 15px;
    font-size: 16px;
    font-weight: normal;
    text-decoration: none;
    border-radius: 30px;
    transition: background-color 0.3s ease;
}

.learn-more {
    background-color: #8d8cb1;
    color: #fff;
}

.learn-more:hover {
    background-color: #5c5c72;
}

.subscribe {
    color: #8d8cb1;
    border: 2px solid #8d8cb1;
}

.subscribe:hover {
    background-color: #5c5c72;
    color: #fff;
    border: 2px solid #5c5c72;
}

.hero-image img {
    margin-top: 5%;
    width: 100%;
    max-width: 750px;
    object-fit: contain;
    z-index: 1; /* Ensure the image is behind the text */
}
